# Created by .ignore support plugin (hsz.mobi)
### Laravel template
vendor/
node_modules/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env

# IntelliJ project files
.idea
*.iml

# Template
public/templates
resources/assets/js/vendor