.page-sidebar-wrapper
  .page-sidebar.navbar-collapse.collapse
    ul.page-sidebar-menu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
      li
        a(href='dashboard.html')
          i.icon-home
          span.title Tổng quan
      li
        a(href='javascript:;')
          i.icon-user
          span.title Thành viên
          span.arrow
        ul.sub-menu
          li
            a(href='user.html')
              | Danh sách
          li
            a(href='user_form.html')
              | Thêm mới
      li
        a(href='javascript:;')
          i.icon-folder
          span.title Sản phẩm
          span.arrow
        ul.sub-menu
          li
            a(href='product.html')
              | Danh sách
          li
            a(href='product_form.html')
              | Thêm mới
          li
            a(href='product_unit.html')
              | Đơn vị
      li
        a(href='javascript:;')
          i.icon-home
          span.title Kho
          span.arrow
        ul.sub-menu
          li
            a(href='depot.html')
              | Danh sách kho
          li
            a(href='depot_form.html')
              | Thêm mới
      li
        a(href='import.html')
          i.icon-arrow-down-circle
          span.title Nhập hàng
      li
        a(href='export.html')
          i.icon-arrow-up-circle
          span.title Xuất hàng
      li
        a(href='order.html')
          i.icon-notebook
          span.title Đơn hàng
      li
        a(href='tranporter.html')
          i.icon-refresh
          span.title Chuyển kho
      li
        a(href='contact.html')
          i.icon-envelope
          span.title Liên hệ
      li
        a(href='customer.html')
          i.icon-user
          span.title Khách hàng
      li
        a(href='settings.html')
          i.icon-settings
          span.title Cài đặt
          span.arrow
        ul.sub-menu
          li
            a(href='setting_general.html')
              | Chung
    // /.page-sidebar-menu
// /.page-sidebar-wrapper
