.page-sidebar-wrapper
  .page-sidebar.navbar-collapse.collapse
    ul.page-sidebar-menu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
      li
        a(href='http://obiuty.dev/public/templates/pages/admin/dashboard.html')
          i.icon-home
          span.title Tổng quan
      li
        a(href='http://obiuty.dev/public/templates/pages/admin/user.html')
          i.icon-user
          span.title Thành viên
          span.arrow
        ul.sub-menu
          li
            a(href='http://obiuty.dev/public/templates/pages/admin/user.html')
              | Danh sách
          li
            a(href='http://obiuty.dev/public/templates/pages/admin/user_form.html')
              | Thêm mới
      li
        a(href='http://obiuty.dev/public/templates/pages/admin/product.html')
          i.icon-folder
          span.title Sản phẩm
          span.arrow
        ul.sub-menu
          li
            a(href='http://obiuty.dev/public/templates/pages/admin/product.html')
              | Danh sách
          li
            a(href='http://obiuty.dev/public/templates/pages/admin/product_form.html')
              | Thêm mới
          li
            a(href='http://obiuty.dev/public/templates/pages/admin/product_unit.html')
              | Đơn vị
      li
        a(href='http://obiuty.dev/public/templates/pages/admin/depot.html')
          i.icon-home
          span.title Kho
          span.arrow
        ul.sub-menu
          li
            a(href='http://obiuty.dev/public/templates/pages/admin/depot.html')
              | Danh sách kho
          li
            a(href='http://obiuty.dev/public/templates/pages/admin/depot_form.html')
              | Thêm mới
      li
        a(href='http://obiuty.dev/public/templates/pages/admin/import.html')
          i.icon-arrow-down-circle
          span.title Nhập hàng
      li
        a(href='http://obiuty.dev/public/templates/pages/admin/export.html')
          i.icon-arrow-up-circle
          span.title Xuất hàng
      li
        a(href='http://obiuty.dev/public/templates/pages/admin/order.html')
          i.icon-notebook
          span.title Đơn hàng
      li
        a(href='http://obiuty.dev/public/templates/pages/admin/tranporter.html')
          i.icon-refresh
          span.title Chuyển kho
      li
        a(href='http://obiuty.dev/public/templates/pages/admin/contact.html')
          i.icon-envelope
          span.title Liên hệ
      li
        a(href='http://obiuty.dev/public/templates/pages/admin/customer.html')
          i.icon-user
          span.title Khách hàng
      li
        a(href='http://obiuty.dev/public/templates/pages/admin/settings.html')
          i.icon-settings
          span.title Cài đặt
          span.arrow
        ul.sub-menu
          li
            a(href='http://obiuty.dev/public/templates/pages/admin/setting_general.html')
              | Chung
    // /.page-sidebar-menu
// /.page-sidebar-wrapper
