.page-sidebar-wrapper
  .page-sidebar.navbar-collapse.collapse
    ul.page-sidebar-menu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
      li
        a(href='javascript:;')
          i.icon-home
          span.title Dashboard
          span.arrow
        ul.sub-menu
          li
            a(href='dashboard.html')
              | Analytics
      li
        a(href='javascript:;')
          i.icon-user
          span.title User
          span.arrow
        ul.sub-menu
          li
            a(href='user.html')
              | All user
          li
            a(href='user_form.html')
              | Add new
      li
        a(href='javascript:;')
          i.icon-user
          span.title User
          span.arrow
        ul.sub-menu
          li
            a(href='user.html')
              | All user
          li
            a(href='user_form.html')
              | Add new
      li
        a(href='javascript:;')
          i.icon-user
          span.title User
          span.arrow
        ul.sub-menu
          li
            a(href='user.html')
              | All user
          li
            a(href='user_form.html')
              | Add new
      li
        a(href='javascript:;')
          i.icon-user
          span.title User
          span.arrow
        ul.sub-menu
          li
            a(href='user.html')
              | All user
          li
            a(href='user_form.html')
              | Add new
      li
        a(href='javascript:;')
          i.icon-user
          span.title User
          span.arrow
        ul.sub-menu
          li
            a(href='user.html')
              | All user
          li
            a(href='user_form.html')
              | Add new
      li
        a(href='javascript:;')
          i.icon-user
          span.title User
          span.arrow
        ul.sub-menu
          li
            a(href='user.html')
              | All user
          li
            a(href='user_form.html')
              | Add new
      li
        a(href='javascript:;')
          i.icon-user
          span.title User
          span.arrow
        ul.sub-menu
          li
            a(href='user.html')
              | All user
          li
            a(href='user_form.html')
              | Add new
      li
        a(href='javascript:;')
          i.icon-user
          span.title User
          span.arrow
        ul.sub-menu
          li
            a(href='user.html')
              | All user
          li
            a(href='user_form.html')
              | Add new
      li
        a(href='javascript:;')
          i.icon-user
          span.title User
          span.arrow
        ul.sub-menu
          li
            a(href='user.html')
              | All user
          li
            a(href='user_form.html')
              | Add new
      li
        a(href='javascript:;')
          i.icon-user
          span.title User
          span.arrow
        ul.sub-menu
          li
            a(href='user.html')
              | All user
          li
            a(href='user_form.html')
              | Add new
      li
        a(href='javascript:;')
          i.icon-user
          span.title User
          span.arrow
        ul.sub-menu
          li
            a(href='user.html')
              | All user
          li
            a(href='user_form.html')
              | Add new
    // /.page-sidebar-menu
// /.page-sidebar-wrapper
